.footer {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
  }
  
  .links a {
    font-size: 25px;
    color: whitesmoke;
    margin: 0 10px;
    padding-left:20px ;
  }
  
  .links a:hover {
    color: yellow; 
  }
  .copyright{
    padding: 10px;
  }