.navbar{
    background-color: black;
    height: 55px;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    width: auto;

    .navbar-logo{
        display: flex;

        img{
            height: 50px;
        }
        h2{
            color: white;
            padding-top: 10px;
            padding-left: 10px;
        }
    }
    .navbar-links{

        .btn{
            background-color: rgb(81, 81, 219);
            color: whitesmoke;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 1.25rem;
            cursor: pointer;
            font-weight: 500;
            transition: background-color 0.3s ease;
                 
        }
        .btn:hover {
            background-color: rgb(35, 35, 153);
            font-weight: 550; 
          }
    }
}
